*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    width: 100%;
    /* background-image: url(nature4.jpg); */
    /* background-position: calc(50%.50%,50%,50%); */
    /* background-repeat: none ;
    background-size: cover; */
    /* background-color:red; */
}
.all{
    height: 100%;
    width: 100%;
    background-color: rgb(109, 109, 21);
}
.nav{
    height: 100px;
    width: 100%;
/* background-color: rgba(151, 192, 140, 0.259);     */
text-align: center;
text-transform: uppercase;
}
.container{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
}
h1{
    text-transform: uppercase;
    text-align: center;
}

.right{
    height: 100%;
    width: 50%;
    /* background-color: rgb(43, 226, 192); */
    background-image: url(nature4.jpg);
    background-position: center;
    background-size: cover;
}
.left {
    height: 100%;
    width: 100%;
    /* background-color: blueviolet; */
    background-image: url(nature\ p.jpg);
    background-position: center;

}

.link{
    /* margin-top: 50px;
    margin-left: 50px;
    margin-right: 20px; */
    height: 100%;
    width: 100%;
    /* background-color: antiquewhite; */
    justify-content: center;
}
.link2{
    /* margin-top: 50px;
    margin-left: 50px; */
    height: 100%;
    width: 100%;
    /* background-color: antiquewhite; */
    /* background-image: url(nature\ p1.jpg); */
    justify-content: center;
    justify-items: center;

    text-align: center;
    /* padding: 50px;                            */
}
.link2,a, i{
 font-size: 30px;
 letter-spacing: 10px;
 padding:30px;
 /* margin-left: 50px;
 margin-top: 50px

  */
 }
 link2,a {
    /* font-size: 30px;
    letter-spacing: 10px;
    margin-left: 20px; */
    font-family: Arial, Helvetica, sans-serif;
 font-weight: bold;   
 color: rgb(251, 251, 3);                  
 
    }
    
    @media (max-width:800px){
        .container{
            height: 100%;
            width: 100%;
            background-color: black;
            /* display: flex; */
            flex-direction: column;
            /* text-wrap: wrap; */
        }
        .left {
            height: 100%;
            width: 100%;
            background-color: blueviolet;
            flex-direction: column;
        }
        .right{
            height: 100%;
            width: 100%;
            background-color: rgb(43, 226, 192);
            flex-direction: column;
        }
        /* *{
            margin: 0%;
            padding: 0% ;
        } */
    
        .link{
            /* margin-top: 50px;
            margin-left: 50px;
            margin-right: 20px; */
            height: 100%;
            width: 100%;
            /* background-color: antiquewhite;
            justify-content: center;
        } */
        }
        .link2{
            /* margin-top: 50px;
            margin-left: 50px; */
            height: 100%;
            width: 100%;
            /* background-color: antiquewhite; */
            /* justify-content: center;
            justify-items: center;
     */}


     .nav{
        height: 200px;
        width: 100%;
    /* background-color: rgba(46, 181, 13, 0.6); */
    text-align: center;
    text-transform: uppercase;
    }
    }